<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head_styles}"></head>
<body>
<div th:replace="~{fragments :: sidebar('dose-measures')}"></div>
<div class="main-content">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold">Моніторинг радіаційного фону</h2>
    <a href="/ui/dose-measures/new" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Додати</a>
  </div>
  <div class="card-custom p-4">
    <table class="table table-hover align-middle">
      <thead>
      <tr>
        <th>ID</th>
        <th>Об'єкт</th>
        <th>Дата виміру</th>
        <th>Доза (Зв)</th>
        <th>Дії</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="d : ${list}">
        <td th:text="${d.id}" class="fw-bold text-muted"></td>

        <td th:if="${d.emergency != null}">
          <strong th:text="${d.emergency.facility != null ? (d.emergency.facility.name ?: '-') : '-'}"></strong>
        </td>
        <td th:unless="${d.emergency != null}">-</td>

        <td th:text="${d.measurementDate}"></td>
        <td class="data-highlight"><i class="bi bi-radioactive me-2"></i> <span th:text="${d.doseValue}"></span></td>
        <td>
          <a th:href="@{/ui/dose-measures/edit/{id}(id=${d.id})}" class="btn btn-sm btn-outline-primary me-2">
            <i class="bi bi-pencil"></i> Редагувати
          </a>
          <a th:href="@{/ui/dose-measures/delete/{id}(id=${d.id})}"
             onclick="return confirm('Ви впевнені, що хочете видалити цей запис?');"
             class="btn btn-sm btn-danger">
            <i class="bi bi-trash"></i> Видалити
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>